---
layout: atm
title: Allegro Tech Meeting v9
description: Allegro Tech Meeting to coroczne spotkanie wszystkich pracowników IT Allegro. 9-ta edycja odbędzie się 7 września w Centrum Kulturalno-Kongresowym Jordanki w Toruniu
---
<section class="section-atm">
	<header>
		<div class="content">
			<img src="./img/atm9/atm9-logo.png" alt="allegro.tech meeting v9"/>

			<h1>Allegro Tech Meeting</h1>
			<p class="date">7 września 2016</p>
			<p class="venue"><a target="_blank" href="https://www.google.pl/maps/place/Centrum+Kulturalno-+Kongresowe+Jordanki+sp.+z+o.o/@53.013945,18.5998113,17z/data=!3m1!4b1!4m5!3m4!1s0x470334e2da4d7113:0x791842e07e51d277!8m2!3d53.013823!4d18.601334?hl=pl">Centrum Kulturalno-Kongresowe Jordanki w Toruniu</a></p>
		</div>
	</header>
</section>

<section id="allegro-tech">
	<div class="content">

		<h2>allegro Tech</h2>

		<p>
			<a href="http://allegro.tech/">allegro Tech</a> to marka najlepszych inżynierów pracujących w&nbsp;naszej firmie.
			Powstała by świat dowiedział się kim jesteśmy i&nbsp;czym się zajmujemy.
		</p>

	</div>
</section>

<section id="about-atm">
	<div class="content">

		<h2>ATM</h2>

		<p>
			<strong>ATM, czyli Allegro Tech Meeting</strong> to coroczne spotkanie wszystkich pracowników IT Allegro,
			na którym dzielimy się wiedzą o&nbsp;prowadzonych obecnie projektach, problemach jakie napotykamy oraz
			nietypowych rozwiązaniach, które zaimplementowaliśmy. Na co dzień taką wymianę wiedzy utrudnia ograniczony
			kontakt – pracownicy naszej firmy rozproszeni są po różnych miastach. ATM łamie te bariery.
		</p>
		<p class="photos">
			<img src="img/atm9/atm8-1.jpg" alt="" />
			<img src="img/atm9/atm8-2.jpg" alt="" />
		</p>
		<p>
			 „Od IT dla IT” to hasło przewodnie, które towarzyszy nam od samego początku, czyli 2009 roku kiedy to w Poznaniu odbyło się pierwsze dwudniowe wydarzenie w całości przygotowane przez inżynierów Allegro.
		</p>
	</div>
</section>

<section id="atm9" class="section-atm9">
	<div class="content">

		<h2>ATM 9</h2>
		<p>
			Tegoroczna edycja wydarzenia odbędzie się w Toruniu. To tam w dniach 7 września opanujemy Centrum
			Kulturalno-Kongresowe Jordanki by przez dwa dni słuchać, rozmawiać, dzielić się widzą oraz dobrze się bawić.
			ATM to dla nas coś więcej niż zwykła konferencja. To wydarzenie na które czekamy cały rok, a przez kolejny
			wspominamy jak było wspaniale.
		</p>

		<p>
			Nie zabraknie inspirujących wykładów oraz motywujących lighting talks przygotowanych przez naszych
			inżynierów. A to wszystko w towarzystwie licznych robotów, które są tegorocznym tematem przewodnim
			wydarzenia.
		</p>

		<p>
			Podobnie jak rok temu nie zamykamy się na świat zewnętrzny. W pierwszy dzień konferencji do naszych
			pracowników na widowni dołączą zaproszeni goście by wspólnie skorzystać z wiedzy płynącej ze sceny.
			
			<strong>Chcesz do nas dołączyć? Nic prostszego!</strong>
			Wylicytuj wejściówkę i wesprzyj Fundację Mam Marzenie: http://bit.ly/charytatywniAllegro
		</p>

		<dl>
			<dt>Data: </dt>
			<dd>7 września 2016</dd>
			<dt>Miejsce:</dt>
			<dd>Centrum Kulturalno-Kongresowe Jordanki sp. z o.o.</dd>
			<dt>Adres:</dt>
			<dd>Aleja Solidarności 1-3, 87-100 Toruń</dd>
		</dl>
	</div>
	<p class="copy">Fot. Centrum Kulturalno-Kongresowe Jordanki</p>
</section>

<section id="schedule">
	<div class="content">
		<h2>Agenda</h2>
		<h3>DZIEŃ 1</h3>

		<ol class="schedule">
			{%assign schedule = site.data.atm-schedule | sort%}

			{% for item in schedule %}
			<li class="schedule-item">
				<section class="talknote">
					<div class="talknote-time">
						<time datetime="{{item[1].date}}T{{item[1].timeStart}}">{{item[1].timeStart}}</time> -
						<time datetime="{{item[1].date}}T{{item[1].timeEnd}}">{{item[1].timeEnd}}</time>
					</div>
					<div class="talknote-content">
						<h3 class="talknote-title">{{item[1].title}}</h3>
						{% if item[1].name %}
						<span class="talknote-author"> {{item[1].name}}</span>
						{% endif %}

						{% if item[1].abstract %}
						<div class="talknote-abstract"> {{item[1].abstract}}</div>
						{% endif %}
					</div>
				</section>
			</li>
			{% endfor %}

		</ol>
	</div>
</section>

<section class="speakers" id="speakers">

	<div class="content">
		<h2>Prelegenci</h2>
		<ul class="post-author-list">
			{%assign authors = site.data.atm-speakers | sort%}
			{% for author in authors %}
			{%assign authorKey = author[0]%}
			{%assign authorData = author[1]%}
			<li class="post-author">
				{% include single_author.html %}
			</li>
			{% endfor %}
		</ul>
	</div>
</section>
